 .align h1{
text-align:center;
font-family: 'Times New Roman', Times, serif;
}
.abt p
{
    text-align:justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.Mar marquee
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large
}
